# --- Ambientes virtuais ---
venv/
.env/
*.env
google_credentials.json

# --- Pastas locais ignoradas ---
transcrissor-pdf/

# --- MongoDB (Docker volumes e dados internos) ---
/docker/mongo/data/
/docker/mongo/data/.mongodb/
/docker/mongo/data/journal/
/docker/mongo/data/*.wt
/docker/mongo/data/WiredTiger*
/docker/mongo/data/_mdb_catalog.*

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# --- IDEs e editores ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- Arquivos temporários ---
*.swp
*.bak
*.tmp
